extends main-container

block header
	include ./header-navbar.jade

block content
	p
	each c in clients
		h2 App Name: #{c.name}
		p  Description: #{c.description}
		p  API Key: #{c.api_key}
		p  Secret Key: #{c.secret}
		a(href="/admin/permissions/#{c.api_key}") Manage App Permissions
		br
		br


