extends main-container

block header
	include ./header-navbar.jade

block content
	p
	each c in clients
		h2 App Name: &nbsp; #{c.name}
		p  Description:&nbsp; #{c.description}
		p  API Key: &nbsp; #{c.api_key}
		//p  Secret Key: #{c.secret}
		//a(href="/admin/editclient/#{c.api_key}") Manage App Permissions
		a(href="/admin/permissions/#{c.api_key}") Manage App Permissions
		br
		a(href="/admin/mockauth/#{c.api_key}") Create Mock Auth Tokens
		br
		br


