extends main-container

block header
	include ./header-navbar.jade

block content
	div.panel.panel-default
		div.panel-body
			div.row
				div.col-md-2 Application Name:
				div.col-md-10 #{c.name}
			div.row
				div.col-md-2 App Description:
				div.col-md-10 #{c.description}
			div.row &nbsp;
			div.row
				div.col-md-2 API Key:
				div.col-md-10 #{c.api_key}
			div.row
				div.col-md-2 Secret Key:
				div.col-md-10 #{c.secret}
			div.row &nbsp;
			div.row
				div.col-md-2 Test Auth Dialog:
				div.col-md-10 <a class="testLink" href="/auth/account?api_key=#{c.api_key}&secret=#{c.secret}&redirectURL=http://localhost.com">Test Link (This link has to be opened in another browser or an incognito window otherwise your login here will interfere with the login on the new page.)</a>

	div.panel.panel-default
		div.panel-body
			a(href="/admin/addpermissions/#{c.api_key}") Set App Permissions

	div.panel.panel-default
		div.panel-body
			if p.result
				each pe in p.result
					p Date: #{pe._date_created}
					p Permissions: <pre>#{JSON.stringify(pe.permissions, null, 2)}</pre>
					p Types: <pre>#{JSON.stringify(pe.types, null, 2)}</pre>
					p Service Enablers: <pre>#{JSON.stringify(pe.service_enablers, null, 2)}</pre>
			else
				div Permissions have not been set for this application yet.

	<script src="/admin/javascripts/list_permissions.js"  type="text/javascript"></script>