extends main-container

block header
	include ./header-navbar.jade

block content
	p
	h2 App Details
	p
	b App Name:
	| &nbsp; #{c.name}
	p
	b Description:
	| &nbsp; #{c.description}
	p
	b API Key:
	| &nbsp; #{c.api_key}
	p
	b Secret Key:
	| &nbsp; #{c.secret}
	p
	b Test Auth Dialog:
	| &nbsp; <a class="testLink" href="/auth/account?api_key=#{c.api_key}&secret=#{c.secret}&redirectURL=http://localhost.com">Test Link (This link has to be opened in another browser or an incognito window otherwise your login here will interfere with the login on the new page.)</a>
	br
	br
	h2 Permission Details
	br
	p Total Permissions: #{p.meta.total_count}
	p
	hr
	a(href="/admin/addpermissions/#{c.api_key}") ADD new App Permissions
	hr
	p
	each pe in p.result
		p Date: #{pe._date_created}
		p Permissions: <pre>#{JSON.stringify(pe.permissions, null, 2)}</pre>
		p Types: <pre>#{JSON.stringify(pe.types, null, 2)}</pre>
		p Service Enablers: <pre>#{JSON.stringify(pe.service_enablers, null, 2)}</pre>
		br
		hr
		br
	br

	<script src="/admin/javascripts/list_permissions.js"  type="text/javascript"></script>